#root {
  text-align: center;
}

.App { 
  text-align: center; 
}

button { 
  padding: 10px 20px; 
  margin: 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
} 


button:hover { 
  background-color: #61dafb; 
  color: #282c34;
} 